/* navigation bar___ */

/*usage of child combinators*/
.navbar{
    background-color: aqua;
    font-family: calibri;
    padding-left: 15px;
}

.navbar a{
    text-decoration: none;
    color: black;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
    

}
.navdiv li{
    list-style: none;
    font-size: 18px;
    margin-right: 25px;
    font-weight: bold;
    display: inline-block;
}
.navbar a:hover{
    color: aliceblue;
}


/* form page___ */
/*validity pseudo class*/
.registration-form input:invalid{
    background-color: rgb(223, 137, 137);
}

.registration-form input:valid{
    background-color: rgb(249, 255, 249);
}

body .registration-form{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#71b7e6,rgb(179, 205, 128));
}

.registration-form .container{
    max-width: 500px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.input-box input{
    height: 25px;
}

form .button input{
    height:30px;
    width: 100px;
    color: #fff;
    background: linear-gradient(135deg,#71b7e6,rgb(179, 205, 128));
    margin-left: 20%;
}

.button input:hover{
    transform: scale(1.05);
}

.input-box{
    margin: 10px;
}

.container a:visited{
    color: purple;
}


/* Blog page____ */

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.post:nth-child(odd){
    background-color: #f9f9f9;
}

.post:nth-child(even){
    background-color: #fff;
}

.post{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.post:hover{
    transform: translateY(-5px);
}

.post-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.post-title{
    font-size: 1.5em;
    margin-top: 10px;
    color: #333;
    transition: colour 0.3ss;
}

.post-title:hover{
    color: #007BFF;
}

.post-description{
    font-size: 1em;
    color: #555;
    margin: 10px 0 20px;
}

.read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #7f7d4a;
    text-decoration: none;
    border-radius: 4px;
}

.read-more:hover{
    background-color: black;
}


/* Main page___ */
.profilepic{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid;
    margin-top: 20px;
    margin-left : 35%;
}
.profile-info{
    box-sizing: border-box;
    display: flex;  
}

.profile-name{
    font-family: arial black;
    font-size: 30px;
    margin-left: 30px;
    margin-top: 85px;
}

.button-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 0 auto;

}

.social-button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.social-button img {
    width: 40px; /* Adjust icon size */
    height: 40px;
    margin-right: 20px; /* Space between icon and text */
}

.social-button:hover {
    transform: translateY(-5px); /* Makes the button pop up on hover */
}

.linkedin{
    background-color:#0077B5;
}
.git{
    background-color: rgba(0, 0, 0, 0.919);
}

.instagram{
    background-color: #f61975;
}

.facebook{
    background-color: #1877F2;
}
.mail{
    background-color: rgb(8, 0, 0);
}


/* about page___ */
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
     background-color: rgba(255, 255, 255, 0.715);
}

.about-image{
    width: 680px;
    height: auto;
    border-radius: 10px;
    
    float: right;
    
}

#heading{
    display: flex;
    justify-content: center;  
    font-size: 60px; 
    margin-bottom: 20px;
    color: #333;
    font-family: arial black;
}

.content p{
    font-size: 25px;
    margin-left: 30px;
    margin-right: 55%;
}

/*Usage of structural selectors*/
.content p:first-child{
    font-weight:bold;
    color: rgb(6, 14, 17);
    margin-bottom: 20px;
    
}

.content p:nth-child(2){
    font-style: italic;
    color: #333;
    margin-bottom: 20px;
}





